
 html {
  font-size:16px;
}
body { 
  
  object-fit: hidden;
  background-position: center;
  background-color: #cdc6c6!important;
  
  
  justify-content: space-evenly;
 
  background-repeat: no-repeat;
  background-size: cover;}
  .nav-link{
    color: white  !important;
  }
  

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 9rem;
  background-color: #343c4f;
  width: 100%;
    position:fixed; top:0px; left:0px; right:0px;
    z-index: 99999;
    
}
.headername {
  margin-left: 6rem;
  padding-top: 3rem;
  font-size: 2.2rem;
  color:    beige;
  
}

.headermenu {
  margin-right: 6rem;
  padding-top: 2rem;
  position: relative;
  top: 0.5rem;
}
/* ----------BODY TAMPLATE1-------- */

.bodytamplate1 {
  background-image: url(bmw-z4-m40i.jpg);
  
  position: relative;
  object-fit: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 9rem;
  

  width: 100%;
  height: 40rem;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bt1 {
  background-color: rgba(0, 0, 0, 0.347);
  font-size: 7rem;
  font-family: bebasneuebook;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5.6rem;
  margin-bottom: 0.2rem;
  margin-top: 3rem;
  margin-left: 6rem;
  width: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bt2 {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-family: libre baskerville, sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1rem;
  max-width: 60.1rem;
  margin-left: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bt3 {
  margin-left: 6rem;
  width: 10.5rem;
  
}
#bttn1 {
  background-color: rgba(90, 90, 90, 0.489) !important;
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

/* -----------------body tamplate2--------------- */
.bodytamplate2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5rem;
  height: 50rem;
  background-color: #0aa1dd00 ;
}
#btt1 { 
  flex-wrap: wrap;
  object-fit: contain;
  position: relative;
  width: 75%;
  background-color:  #0aa1dd00;;
  object-fit: contain;
}
#btt2 {
  flex-wrap: wrap;
  background-color:  #0aa1dd00;
  padding: 5rem;
  padding-top: 7rem;
}

/* <!-- --------------------------------- body tamplate2 bitiş-------- */

/* <!-- ----------------- TAMpLATE3------------------ --> */
.bttt1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem;
}
.imagess {
  background-color:#80808012;
  width: 30%;
  height: 20.3rem;
  margin: 0.5rem;
}
.imagessw {
  background-color:  #0aa1dd00;
  color: rgb(30, 30, 30);
  width: 30%;
  height: 20.3rem;
  margin: 0.5rem;
  padding-left: 4rem;
  padding-top: 4rem;
}

/* <!-- ----------------- TAMpLATE3 bitiş------------------ --> */

/* <!-- ----------------- TAMpLATE4------------------ --> */

.bodytamplate4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5rem;
  height: 40rem;
}
#btttt1 {
  width: 95%;
  background-color:#0aa1dd00;
}
#btttt2 {
  background-color:  #0aa1dd00;
  padding: 5rem;
  padding-top: 7rem;
}
/* <!-- ----------------- TAMpLATE4bitiş------------------ --> */

/* <!-- -----------------------footer--------------------- --> */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#343c4f;
  width: 100%;
  height: 6rem;
}
#ftr1 {
  padding: 2rem;
  color:white;
  margin-left: 3rem;
}
#ftr2 {
  padding: 2rem;
  margin-right: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imagess img {
  width: 100%;
  height: 100%;
  margin-top: 1px;
  object-fit: contain;
}
.fa-facebook-square{color:white;}
.fa-instagram-square{color:white;}
.fa-twitter-square{color:white;}
.fa-youtube-square{color:white;}





/* <!-- -----------------------footerbitiş--------------------- --> */

/* """"""""""""""""""""""""""""""""responsıve""""""""""""""""""""""""" */
/* html {
  
} */

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header {
    background-color:rgba(0, 0, 0, 0.337);
    flex-direction: column;
    justify-content: flex-start !important;
    height: auto;
    width: 100%;
    gap: none!important;
    position:fixed; top:0px; left:0px; right:0px;
    z-index: 99999;
    
  }
  .headername {
    
   
    margin-left: 0.01rem;
    padding-top: 2rem;
    font-size: 2.2rem;

    width: 100%;
  }
  h3{padding-left: 1rem;}

  .startt {
    display: flex !important ;
    flex-direction: row  !important;
    justify-content: start !important;
  }

  .headermenu {
   

    height: auto;
    width: 100%;
    margin-left: 0.01rem !important;
  }
  

  /* ----------------------------------tamplate1 */

  .bodytamplate1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    margin-top: 10rem;
  }
  #bt1 {
    background-color: rgba(0, 0, 0, 0.347);
    font-size: 2.5rem;
    font-family: bebasneuebook;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5.6rem;
    height: auto;
    width: 100%;
    margin: auto;
  }

  #bt2 {
    background-color: rgba(0, 0, 0, 0.347);
    font-size: 0.7rem;
    line-height: 2.8rem;
    font-family: libre baskerville, sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    height: auto;
    width: 100%;
    margin: auto;
  }
  #bt3 {
    color: blue;
    height: auto;

    margin: auto;
    width: 2 0.5rem;
  }
  #bttn1 {
    background-color: rgba(90, 90, 90, 0.489) !important;
    border: 0.2rem solid rgba(255, 255, 255, 0.5);
    color: #fff;
    height: auto;
    width: 100%;
    margin: auto;
  }

  /* ------------------------------tamplate2 */
  .bodytamplate2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 100%;
   margin: auto;
   margin-top: 2rem;
  }
  #btt1 {
    background-color:#80808012 ;
    height: auto;
    width: 100%;
    margin: auto;
  }
  #btt2 {
    background-color: #80808012;
    padding: 5rem;
    padding-top: 7rem;
    height: auto;
    width: 100%;
    margin: auto;
  }
  /* -------------------------tamplate3 */
  .bttt1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem;
  }
  .imagess {
    background-color:#80808012;
    width: auto;
    height: 20.3rem;
    margin: 0.5rem;
  }
  .imagessw {
    background-color: #80808012;
    width: auto;
    height: 20.3rem;
    margin: 0.5rem;
    padding-left: 4rem;
    padding-top: 4rem;
  }

  /* --------------------------tamplate4 */
  .bodytamplate4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    height: auto;
  }
  #btttt1 {
    width: 100%;
    background-color: #80808012;
  }
  #btttt2 {
    background-color: #80808012;
    padding: 5rem;
    padding-top: 7rem;
  }
  /* -------------------foooter */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #808080f9;
    width: 100%;
    height: auto;

    align-items: center;
  }
  #ftr1 {
    padding: 0.5rem;
  }
  #ftr2 {
    padding: 0.5rem;
  }
}

/* @media (max-width: 768px) {
  html {
    font-size: 8px;
  }
   */
  

/* 
  .bodytamplate2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5rem;
    height: 30rem;
  }
  #btt1 {
    width: 100%;
    background-color: #80808012;
  }
  #btt2 {
    background-color:#80808012;
    padding: 1rem;
    padding-top: 7rem;
  }
  




  .bodytamplate4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5rem;
    height: 25rem;
  }
  #btttt1 {
    width: 95%;
    background-color: #80808012;
  }
  #btttt2 {
    background-color: #80808012;
    padding: 5rem;
    padding-top: 7rem;
  }
  img {
    width: 100%;
    height: 55%;
    margin-top: 50%;
    
  }
} */

